@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://www.nerdfonts.com/assets/css/webfont.css');

.nf {
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    position: fixed;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
}

html, body {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    overflow-x: hidden;
}

body {
    z-index: 0;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}

a {
    color: #f80;
}

.notepad-real {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1216px;
    min-width: 512px;
    margin: 0 auto;
}

a.fa:nth-child(13),
a.fa:nth-child(14) {
    display: none;
}

.tab-container {

}

.tab {
    font-family: "Ubuntu Mono", serif;
    padding: 6px 8px;
    background-color: #1B1B1B;
    color: #fff;
    margin-right: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #4f4f4f;
    border-bottom: 0 solid white;
    flex-shrink: 0;
}

.tab.dragging {
    opacity: 0.5;
}

.tab.active {
    background-color: rgb(46, 46, 46);
    font-weight: bold;
    color: #f86;
    border: 1px solid #4f4f4f;
    border-bottom: 0 solid white;
}

.tab:hover {
    background-color: #555;
}

.tab-close {
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
    color: #ffa4a4;
    background: #770000;
    border-radius: 2px;
    width: 12px;
}

.tab-close:hover {
    color: rgb(0, 0, 0);
    background-color: #ff4f4f;
}


.notes-version {
	position: absolute;
	font-family: "Ubuntu Mono", serif;
	color: #959694;
	user-select: none;
	bottom: 7px;
	left: 8px;
	font-size: 12px;
	opacity: 0.75;
    a {
        text-decoration: none ;
        color: inherit
    }
    a:hover {
        text-decoration: underline
    }
}

#command-line {
    font-family: "Ubuntu Mono", serif;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background: #131313;
    color: white;
    border: 1px solid #1A1A1A;
    padding: 4px;
    width: calc(100% - 256px);
    max-width: 512px;
}

@media (max-width: 768px) {
    #command-line {
        left: 0;
        transform: none;
        max-width: none;
        width: 100%
    }
}

#command-line input:focus {
    outline: none;
}

.ca-tab-renamer {
    font-family: "Ubuntu Mono", serif;
    font-size: inherit;
    color: white;
    width: min-content;
    background-color: #353535;
    border: 0 solid white;
    padding: 0 4px;
    z-index: 1000;
    height: 1em;
    overflow-y: auto;
}

.ca-tab-renamer:focus {
    outline: none;
}

.ca-clock {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 8px;
}

.ca-background-image {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: -100;
    left: 50%;
    transform: translateX(-50%);
    background-size: 100% auto;
    background-position: center;
    img {
        height: 100vh;
        user-select: none;
    }
}

.mde-preview {
    float: right;
}

/* ------------- CREATURE LISTS ------------- */

.ca-creature-list {
    background-color: #1A1A1A;
    border: 1px solid #4f4f4f;
    padding: 0 4px 0 0;
    z-index: 1000;
    max-height: 230px; 
    overflow-y: auto; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 100%;
}

.ca-creature-item {
    cursor: pointer;
    padding: 3px 8px;
    min-width: fit-content;
    font-family: "Ubuntu Mono", serif;
    color: #c5c5c5; 
}

.ca-creature-item:hover {
    background-color: #3F3F3F; 
}

/* ------------ TAB TYPE MENU ------------- */

.ca-tab-type-menu {
    background-color: #1A1A1A;
    border: 1px solid #4f4f4f;
    padding: 0 4px 0 0;
    z-index: 1000;
    max-height: 230px;
    overflow-y: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.ca-tab-type-item {
    cursor: pointer;
    padding: 3px 8px;
    min-width: fit-content;
    font-family: "Ubuntu Mono", serif;
    color: #c5c5c5;
}

.ca-tab-type-item:hover {
    background-color: #3F3F3F;
}

/* ------------ TAB CONTENT ------------- */

#ca-tab-content {
    height: 100%; 
    overflow: hidden;
}

#ca-tab-content > div > iframe {
	width: calc(100% - 1px);
	height: calc(100vh - 68px);
	border-radius: 8px;
	border: 1px solid #4f4f4f;
	background: #0f0f0f77;
}
#ca-tab-content > div {
    position: absolute;
    width: 100%;
}

/* -------------- TAB STYLES ------------ */

#tabs-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: 36px;
}

#tab-container {
    user-select: none;
    display: flex;
    padding: 8px 8px 0 8px;
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width: none;
}

#tab-container::-webkit-scrollbar {
    display: none;
}

.add-tab {
    position: absolute;
    right: 7px;
    top: 7px;

    height: 22px;
    text-align: center;
    font-family: "Ubuntu Mono", serif;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: #1B1B1B;
    color: #fff;
    margin-right: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #4f4f4f;
    border-bottom: 0 solid white;

    user-select: none;
}

.add-tab:hover {
    background-color: #555;
}
