@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://www.nerdfonts.com/assets/css/webfont.css');

.nf {
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    position: fixed;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    background-color: #17171A;
    overflow-x: hidden;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}

a {
    color: #f80;
}

.serotonin {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0px;
    right: 0px;
    width: 240px;
    z-index: -5;
    opacity: 0.30;
    image-rendering: pixelated;
}

.notepad-real {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 28px);
    max-width: 1024px;
    margin: 0 auto;
}

.CodeMirror {
    flex: 1;
    min-height: 0;
}

a.fa:nth-child(13),
a.fa:nth-child(14) {
    display: none;
}

.tab-container {
    user-select: none;
    display: flex;
    background-color: #17171A;
    padding: 8px 8px 0 8px;
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.tab {
    cursor: grab;
    font-family: "Ubuntu Mono", serif;
    padding: 6px 8px;
    background-color: #1B1B1B;
    color: #fff;
    margin-right: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #4f4f4f;
    border-bottom: 0 solid white;
    flex-shrink: 0;
}

.tab.dragging {
    opacity: 0.5;
}

.tab:active {
    cursor: grabbing;
}

.tab.active {
    background-color: rgb(46, 46, 46);
    font-weight: bold;
    color: #f86;
    border: 1px solid #4f4f4f;
    border-bottom: 0 solid white;
}

.tab:hover {
    background-color: #555;
}

.tab-close {
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
    color: #ffa4a4;
    background: #770000;
    border-radius: 2px;
    width: 12px;
}

.tab-close:hover {
    color: rgb(0, 0, 0);
    background-color: #ff4f4f;
}

.add-tab {
    position: fixed;
    top: 8px;
    height: 22px;
    display: inline-block;
    text-align: center;
    font-family: "Ubuntu Mono", serif;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: #1B1B1B;
    color: #fff;
    margin-right: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #4f4f4f;
    border-bottom: 0 solid white;
}

div.tab:nth-child(1) {
    margin-left: 30px;
}

.add-tab:hover {
    background-color: #555;
}

.notes-version {
    position: absolute;
    font-family: "Ubuntu Mono", serif;
    color: #959694;
    user-select: none;
    bottom: -20px;
    left: 8px;
    font-size: 12px;
    opacity: 0.75;
    a {
        text-decoration: none ;
        color: inherit
    }
    a:hover {
        text-decoration: underline
    }
}

#command-line {
    font-family: "Ubuntu Mono", serif;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 6px;
    right: 8px;
    z-index: 100;
    background: #131313;
    color: white;
    border: 1px solid #1A1A1A;
    padding: 4px;
    min-width: 200px;
}

#command-line input:focus {
    outline: none;
}

.ca-creature-list {
    position: absolute;
    bottom: calc(100vh - 10px);
    left: 0;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.ca-tab-renamer {
    font-family: "Ubuntu Mono", serif;
    font-size: inherit;
    color: white;
    width: min-content;
    background-color: #353535;
    border: 0 solid white;
    padding: 0 4px;
    z-index: 1000;
    height: 1em;
    overflow-y: auto;
}

.ca-tab-renamer:focus {
    outline: none;
}

.ca-clock {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 18px;
}